<div class="row" *ngIf="hasData">
    <div class="col-3"></div>
    <div class="col-6 text-center mt-4 agree">
        <h3>Decision committee
            <!-- <span class="badge badge-warnging" *ngIf="item.Status == 0">{{item.StatusName}}</span>
            <span class="badge badge-primary" *ngIf="item.Status == 1">{{item.StatusName}}</span>
            <span class="badge badge-danger" *ngIf="item.Status == 2">{{item.StatusName}}</span> -->
        </h3>
        <p> Certificate date &nbsp;&nbsp; {{item.CertificateDate | date :'dd/MM/yyyy'}}</p>
        <p> Reject by admin &nbsp;&nbsp;{{item.CertificateRejectionDate | date :'dd/MM/yyyy'}}</p>
        <p> Certificate expire date &nbsp;&nbsp;{{item.CertificateExpireDate | date :'dd/MM/yyyy'}}</p>
        <a class="btn btn-primary mb-3" [href]="item.AuditReportPDFFilePath" target="_blank"> <i
                class="fa fa-download text-white"></i>
            <span class="text-white"> Download decision committee </span></a>
    </div>
    <div class="col-3"></div>
</div>