

/* .colHeader {
  text-decoration: none;
  color: black;
  float: left;
} */
/* @media (max-width: 768px) {
  /* .colHeader,.sortingUp,.sortingDown{
    font-size: 11px;
  } */
  /* .sortingDown {
    position: relative;
    /* background-color: red; */
    /* top: 4px; 
    left: 9px;
  } 
 }  */
/* .sortingUp {
  position: relative;
  top: -3px;
  left: 9px;
}

.sortingDown {
  position: relative;
  top: 4px;
} */
