<div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-10" id="submitted">
            <h3>Profile </h3>
            <ol class="breadcrumb">
    
                <li class="breadcrumb-item">
                    <a>User</a>
                </li>
                <li class="breadcrumb-item active">
                    <a>Change Password</a>
                </li>
            </ol>
        </div>
    </div>
    
    <div class="wrapper wrapper-content animated fadeInRight" id="appendix-content">
    
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox ">
                    <div class="ibox-title">
                        <div class="clear-fix">
                            <div class="float-left">
                                <span  class="panel-title">
                                    <i class="fa fa-key"></i>
                                    {{'change-password.title'|translate}}
                                </span>
                               
                            </div>
   
    
                        </div>
    
                    </div>
                    <div class="ibox-content">
                       
                        <form role="form" [formGroup]="page.form" (ngSubmit)="save()">
                            <div class="row">
                                <div class="form-group  col-md-4"
                                    [class.has-error]="!controls['OldPassword'].valid && (controls['OldPassword'].dirty||controls['OldPassword'].touched)"
                                    [class.has-success]="controls['OldPassword'].valid && (controls['OldPassword'].dirty||controls['OldPassword'].touched)">
                                    <label class="control-label">{{'change-password.current'|translate}}</label>
                                    <input type="password" class="form-control" formControlName="OldPassword">
                                    <div *ngIf="!controls['OldPassword'].valid && controls['OldPassword'].dirty" class="text text-danger">
                                        <p *ngIf="controls['OldPassword'].hasError('required')">
                                            {{'shared.validation.required'|translate}}</p>
                                        <p *ngIf="controls['OldPassword'].hasError('minlength')">
                                            {{'change-password.password-min-length'|translate}}</p>
                                        <p *ngIf="controls['OldPassword'].hasError('maxlength')">
                                            {{'change-password.password-max-length'|translate}}</p>
                                    </div>
                                </div>
                                <div class="form-group  col-md-4"
                                    [class.has-error]="!controls.Password.valid && controls.Password.touched">
                                    <label class="control-label">{{'change-password.new'|translate}}<span
                                            class="text text-danger">*</span></label>
                                    <input type="password" class="form-control" formControlName="Password">
                                    <div *ngIf="!controls.Password.valid && controls.Password.dirty"
                                        class="text text-danger">
                                        <p *ngIf="controls.Password.hasError('required')">
                                            {{'shared.validation.required'|translate}}</p>
                                        <p *ngIf="controls.Password.hasError('maxlength')">
                                            {{'change-password.password-max-length'|translate}}</p>
                                            <p *ngIf="controls.Password.hasError('minlength')">
                                                    {{'change-password.password-min-length'|translate}}</p>
                                    </div>
                                </div>
                                <div class="form-group  col-md-4"
                                    [class.has-error]="!controls.ConfirmPassword.valid && controls.ConfirmPassword.touched">
                                    <label class="control-label">{{'change-password.confirm'|translate}}<span
                                            class="text text-danger">*</span>
                                    </label>
                                    <input type="password" class="form-control" formControlName="ConfirmPassword">
                                    <div *ngIf="!controls.ConfirmPassword.valid && controls.ConfirmPassword.dirty"
                                        class="text text-danger">
                                        <p *ngIf="controls.ConfirmPassword.hasError('required')">
                                            {{'shared.validation.required'|translate}}</p>
                                        <p *ngIf="controls.ConfirmPassword.hasError('maxlength')">
                                            {{'change-password.password-max-length'|translate}}</p>
                                            <p *ngIf="controls.ConfirmPassword.hasError('minlength')">
                                                    {{'change-password.password-min-length'|translate}}</p>
                                    </div>
                                </div>
    
                            </div>
                            
    
                            <div class="row">
                                <div class="col-md-12  form-actions pull-right">
                                    <button type="submit" [disabled]="disabledSubmit()"
                                        class="btn btn-primary pull-right ">{{'shared.save'|translate}}
                                        <i [hidden]="page.isSaving" class="fa fa-check-square-o"></i>
                                        <i [hidden]="!page.isSaving" class="fa fa-refresh fa-spin"></i>
                                    </button>
                                </div>
                            </div>
    
    
                        </form>
    
    
                    </div>
    
                </div>
    
            </div>
        </div>
    </div>