<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10" id="submitted">
        <h3>Halal Certificate </h3>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a>Admin </a>
            </li>
            <li class="breadcrumb-item active">
                <a>Halal certificate</a>
            </li>
        </ol>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight" id="appendix-content">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>Halal Certificate</h5>
                </div>
                <div class="ibox-content">
                    <div class="form" [formGroup]="page.seachForm">
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="col-form-label " for="date_added">Country</label>
                                    <select class=" form-control" formControlName="CountryID">
                                        <option value="null">All</option>
                                        <option *ngFor="let item of countries" [value]="item.ID">{{item.Name}}</option>
                                    </select>

                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="col-form-label " for="date_added">Company</label>
                                    <select class=" form-control" formControlName="CompanyID" required>
                                        <option value="null" disabled selected>Enter company name :</option>
                                        <option *ngFor="let item of companies" [value]="item.ID">{{item.Name}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="col-form-label " for="date_added">Request Type</label>
                                    <select class=" form-control" formControlName="TypeID">
                                        <option value="null">All</option>
                                        <option *ngFor="let item of requestTypes" [value]="item.ID">{{item.Name}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="col-form-label label1" for="status">Request Status</label>
                                    <select class=" form-control status" formControlName="StatusID">
                                        <option value="null">All</option>
                                        <option *ngFor="let item of requestStatus" [value]="item.ID">{{item.Name}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group" id="data_1">
                                    <label class="col-form-label label1" for="date_added">From date</label>
                                    <div class="input-group date">
                                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span><input
                                            bsDatepicker type="text" formControlName="FromDate" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="col-form-label label1" for="date_modified"> To date</label>
                                    <div class="input-group date">
                                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                        <input bsDatepicker type="text" formControlName="ToDate" class="form-control">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row filter">
                            <div class="col-sm-12">
                                <button type="button" (click)="onSearchClicked()" class="btn btn-primary float-right">
                                    <i class="fa fa-filter"></i>
                                    Filter
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="table-responsive">

                            <table class="table table-stripped toggle-arrow-tiny sortable" id="customers">
                                <thead>
                                    <tr>
                                        <th>Request ID</th>
                                        <th *ngFor="let column of page.columns">
                                            {{column.Title}}
                                        </th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngIf="!page.isLoading && items.length==0">
                                        <td colspan="8">
                                            <h2>Sorry no certificates found</h2>
                                        </td>
                                    </tr>
                                    <tr *ngFor="let item of items| paginate : page.options;let i=index;">
                                        <td class="padding-top-20">{{item.ID}}</td>
                                        <td class="padding-top-20">{{item.ApplicationDate | date:'dd-MM-yyyy' }}</td>
                                        <td class="padding-top-20">{{item.CompanyName}}</td>
                                        <td class="padding-top-20">{{item.CompanyCountry}}</td>
                                        <td class="padding-top-20">{{item.CompanyTypeName}}</td>
                                        <td>
                                            <div class="btn-group">
                                                <button class="btn btn-transparent">
                                                    <a [href]="item.CertificateFilePath" target="_blank">
                                                        <i class="fa fa-eye text-navy1"></i>
                                                        <div class="text-navy1">View</div>
                                                    </a>
                                                </button>
                                            </div>
                                        </td>
                                    </tr>

                                </tbody>
                                <tfoot>
                                    <tr [hidden]="page.isLoading">
                                        <td colspan="3" *ngIf="page.options.totalItems>0">
                                            {{'shared.page'|translate}} {{page.options.currentPage}}
                                            {{'shared.of'|translate}}
                                            {{page.options.totalPages}}
                                            - {{'shared.total-items'|translate}} : {{page.options.totalItems}}
                                        </td>
                                        <td colspan="7" class="text-right" *ngIf="page.options.totalItems>0">
                                            <pagination-controls (pageChange)="getNextPrevData($event)" id='Pagination'
                                                maxSize="10" directionLinks="true" autohide="true" previousLabel=""
                                                nextLabel="">
                                            </pagination-controls>

                                        </td>
                                    </tr>

                                </tfoot>

                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>