<div class="wrapper wrapper-content animated fadeInRight">

    <div class="row">

        <div class="col-lg-4">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>New Requests</h5>
                </div>    
                <div class="ibox-content">
                    <h1 class="no-margins"> {{ item[0].NewRequests }}</h1>
                </div>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>Under process Requests</h5>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins"> {{ item[0].UnderProcessRequests }}</h1>
                </div>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>Rejected Requests</h5>

                </div>
                <div class="ibox-content">
                    <h1 class="no-margins"> {{ item[0].RejectedRequests }}</h1>
                </div>
            </div>
        </div>

        <!-- <div class="col-lg-3">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>Issued Requests</h5>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins"> 116</h1>
                </div>
            </div>
        </div> -->

    </div>

    <div class="row">

        <!-- <div class="col-lg-6">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>Requests</h5>
                </div>
                <div class="ibox-content"> -->
               
      <!-- <ngx-chartjs type="bar" [data]="data" width="300" height="300" [options]="options"></ngx-chartjs> -->

                <!-- </div>
            </div>
        </div> -->

    </div>
   
</div>