<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10" id="submitted">
        <h3>Surveillance decision committee </h3>
        <ol class="breadcrumb">

            <li class="breadcrumb-item">
                <a>Admin</a>
            </li>
            <li class="breadcrumb-item active">
                <a>Surveillance decision committee</a>
            </li>
        </ol>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight" id="appendix-content">

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>Surveillance decision committee</h5>

                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="table-responsive">

                            <table class="table table-stripped toggle-arrow-tiny" id="customers">
                                <thead>
                                    <tr>
                                        <th>RequestID</th>
                                        <th>Payment date</th>
                                        <th>Company name</th>
                                        <th>Company country</th>
                                        <th>Request status</th>
                                        <th>Actions</th>
                                        <th>write note</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    <tr [hidden]="page.isLoading">
                                        <td>{{item.RequestID}}</td>
                                        <td>{{item.PaymentDate |date:'dd-MM-yyyy'}} </td>
                                        <td>{{item.CompanyName}}</td>
                                        <td>{{item.CompanyCountry}}</td>
                                        <td>{{item.RequestStatusName}}</td>
                                        <td>
                                            <div class="btn-group">
                                                <!-- -->
                                                <button (click)="SetItem(item)" data-toggle="modal"
                                                    href="#modal-form-approve" *ngIf="item.StaffRequiredAction == 15 "
                                                    class="btn btn-transparent">
                                                    <i class="fa fa-check text-navy1"></i>
                                                    <div class="text-navy1">Approve</div>
                                                </button>
                                                <button (click)="SetItem(item)" data-toggle="modal"
                                                    href="#modal-form-hold" *ngIf="item.StaffRequiredAction == 15 "
                                                    class="btn btn-transparent">
                                                    <i class="fa fa-pause text-warning"></i>
                                                    <div class="text-warning">Hold</div>
                                                </button>
                                                <button (click)="SetItem(item)" data-toggle="modal"
                                                    href="#modal-form-withdraw" *ngIf="item.StaffRequiredAction == 15 "
                                                    class="btn btn-transparent">
                                                    <i class="fa fa-check text-navy"></i>
                                                    <div class="text-navy">Withdraw</div>
                                                </button>

                                                <button (click)="SetItem(item)" data-toggle="modal"
                                                    href="#modal-form-decline" *ngIf="item.StaffRequiredAction == 15 "
                                                    class="btn btn-transparent">
                                                    <i class="fa fa-times text-danger"></i>
                                                    <div class="text-danger">Decline</div>
                                                </button>

                                                <button *ngIf="item.ApproveStatus==0 && item.StaffRequiredAction != 15 "
                                                    [disabled]="true" class="btn btn-transparent">
                                                    <span>
                                                        <i class="fa fa-check text-navy1"></i>
                                                        <span class="text-navy"> Approved</span>
                                                    </span>
                                                </button>

                                                <button *ngIf="item.ApproveStatus==1 && item.StaffRequiredAction != 15 "
                                                    [disabled]="true" class="btn btn-transparent">
                                                    <span>
                                                        <i class="fa fa-check text-navy"></i>
                                                        <span class="text-navy">Withdrawn</span>
                                                    </span>
                                                </button>

                                                <button *ngIf="item.ApproveStatus==2 && item.StaffRequiredAction != 15 "
                                                    [disabled]="true" class="btn btn-transparent">
                                                    <span>
                                                        <i class="fa fa-check text-warning"></i>
                                                        <span class="text-warning"> Holded</span>
                                                    </span>
                                                </button>
                                                <button *ngIf="item.ApproveStatus==3 && item.StaffRequiredAction != 15 "
                                                    [disabled]="true" class="btn btn-transparent">
                                                    <span>
                                                        <i class="fa fa-check text-danger"></i>
                                                        <span class="text-danger"> Declined</span>
                                                    </span>
                                                </button>

                                            </div>
                                        </td>

                                        <td>
                                            <!-- <form> -->
                                            <input *ngIf="item.Note!=null" type="text" [disabled]="true"
                                                [(ngModel)]="item.Note ">
                                            <input *ngIf="item.Note==null" [disabled]="item.StaffRequiredAction != 15"
                                                type="text" (keyup)="onKey($event)" placeholder="Your comment here....">
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>



                    <div id="modal-form-approve" class="modal inmodal fade" role="dialog" tabindex="-1"
                        aria-hidden="true">
                        <div class="modal-dialog approveTemplate">
                            <div class="modal-content ">
                                <div class="modal-header">

                                    <button type="button" class="close " data-dismiss="modal"><span
                                            aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title pull-left">Approve Application </h4>
                                </div>
                                <div class="modal-body">
                                    <div class="row">

                                        <div class="col-sm-12 ">

                                            <form role="form">
                                                <div class="form-group"><label>Are you sure you want to approve on this
                                                        application ? </label></div>



                                            </form>
                                        </div>

                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <!--  <button class="btn btn-sm btn-primary float-right m-t-n-xs" onclick="$('#modal-form2').modal('hide');" type="submit"id="close"><strong>Close</strong></button>-->
                                    <button type="button"
                                        class="btn btn-sm btn-outline  btn-primary float-right m-t-n-xs"
                                        data-dismiss="modal">No, Cancel</button>
                                    <button (click)="ShowDone(0)" type="button"
                                        class="btn btn-sm btn-primary float-right m-t-n-xs" data-dismiss="modal">Yes,
                                        Approve</button>

                                </div>
                            </div>
                        </div>

                    </div>
                    <div id="modal-form-withdraw" class="modal inmodal fade" role="dialog" tabindex="-1"
                        aria-hidden="true">
                        <div class="modal-dialog approveTemplate">
                            <div class="modal-content ">
                                <div class="modal-header">
                                    <button type="button" class="close " data-dismiss="modal"><span
                                            aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title pull-left">Withdraw Application </h4>
                                </div>
                                <div class="modal-body">
                                    <div class="row">
                                        <div class="col-sm-12 ">
                                            <form role="form">
                                                <div class="form-group"><label>Are you sure you want to withdraw this
                                                        application ? </label></div>
                                            </form>
                                        </div>

                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <!--  <button class="btn btn-sm btn-primary float-right m-t-n-xs" onclick="$('#modal-form2').modal('hide');" type="submit"id="close"><strong>Close</strong></button>-->
                                    <button type="button"
                                        class="btn btn-sm btn-outline  btn-primary float-right m-t-n-xs"
                                        data-dismiss="modal">No, Cancel</button>
                                    <button (click)="ShowDone(1)" type="button"
                                        class="btn btn-sm btn-primary float-right m-t-n-xs" data-dismiss="modal">Yes,
                                        Withdraw</button>

                                </div>
                            </div>
                        </div>

                    </div>
                    <div id="modal-form-hold" class="modal inmodal fade" role="dialog" tabindex="-1" aria-hidden="true">
                        <div class="modal-dialog approveTemplate">
                            <div class="modal-content ">
                                <div class="modal-header">

                                    <button type="button" class="close " data-dismiss="modal"><span
                                            aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title pull-left">Hold Application </h4>
                                </div>
                                <div class="modal-body">
                                    <div class="row">
                                        <div class="col-sm-12 ">
                                            <form role="form">
                                                <div class="form-group"><label>Are you sure you want to hold this
                                                        application ? </label></div>
                                            </form>
                                        </div>

                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <!--  <button class="btn btn-sm btn-primary float-right m-t-n-xs" onclick="$('#modal-form2').modal('hide');" type="submit"id="close"><strong>Close</strong></button>-->
                                    <button type="button"
                                        class="btn btn-sm btn-outline  btn-primary float-right m-t-n-xs"
                                        data-dismiss="modal">No, Cancel</button>
                                    <button (click)="ShowDone(2)" type="button"
                                        class="btn btn-sm btn-primary float-right m-t-n-xs" data-dismiss="modal">Yes,
                                        Hold</button>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div id="modal-form-decline" class="modal inmodal fade" aria-hidden="true">
                        <div class="modal-dialog">

                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal"
                                        aria-hidden="true">&times;</button>
                                    <h3 class="modal-title pull-left">Decline application </h3>

                                </div>
                                <div class="modal-body">
                                    <div class="row">


                                        <form role="form">
                                            <div class="form-group"><label>Are you sure you want to decline this
                                                    application ? </label></div>



                                        </form>
                                    </div>

                                </div>
                                <div class="modal-footer float-right col-sm-12">
                                    <!--  <button class="btn btn-sm btn-primary float-right m-t-n-xs" onclick="$('#modal-form2').modal('hide');" type="submit"id="close"><strong>Close</strong></button>-->
                                    <button type="button" class="btn btn-sm btn-outline btn-danger float-right m-t-n-xs"
                                        data-dismiss="modal">No, Cancel</button>
                                    <button (click)="ShowDone(3)" type="button"
                                        class="btn btn-sm btn-danger float-right m-t-n-xs" data-dismiss="modal">Yes,
                                        Decline</button>

                                </div>
                            </div>
                        </div>
                    </div>


                </div>



            </div>
        </div>
    </div>
</div>