<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10" id="submitted">
        <h3>Decision committee </h3>
        <ol class="breadcrumb">

            <li class="breadcrumb-item">
                <a>Admin</a>
            </li>
            <li class="breadcrumb-item active">
                <a>Decision committee</a>
            </li>
        </ol>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight" id="appendix-content">

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>Decision committee</h5>

                </div>
                <div class="ibox-content">
                    <div class="form" [formGroup]="page.seachForm">
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="col-form-label " for="date_added">Country</label>
                                    <select class=" form-control" formControlName="CountryID">
                                        <option value="null">All</option>
                                        <option *ngFor="let item of countries" [value]="item.ID">{{item.Name}}</option>

                                    </select>

                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="col-form-label " for="date_added">Company</label>
                                    <select class=" form-control" formControlName="CompanyID">
                                        <option value="null">All</option>
                                        <option value="null" disabled selected>Enter company name :</option>
                                        <option *ngFor="let item of companies" [value]="item.ID">{{item.Name}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="col-form-label " for="date_added">Request Type</label>
                                    <select class=" form-control" formControlName="TypeID">
                                        <option value="null">All</option>
                                        <option *ngFor="let item of requestTypes" [value]="item.ID">{{item.Name}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="col-form-label label1" for="status">Request Status</label>
                                    <select class=" form-control status" formControlName="StatusID">
                                        <option value="null">All</option>
                                        <option *ngFor="let item of requestStatus" [value]="item.ID">{{item.Name}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group" id="data_1">
                                    <label class="col-form-label label1" for="date_added">From date</label>
                                    <div class="input-group date">
                                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span><input
                                            bsDatepicker type="text" formControlName="FromDate" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="col-form-label label1" for="date_modified"> To date</label>
                                    <div class="input-group date">
                                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                        <input bsDatepicker type="text" formControlName="ToDate" class="form-control">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row filter">
                            <div class="col-sm-12">
                                <button type="button" (click)="onSearchClicked()" class="btn btn-primary float-right">
                                    <i class="fa fa-filter"></i>
                                    Filter
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="table-responsive">

                            <table class="table table-stripped toggle-arrow-tiny" id="customers">
                                <thead>
                                    <tr>
                                        <!-- <th>#</!-->
                                        <!-- <th>Payment ID</th> -->
                                        <th>RequestID</th>
                                        <th>Payment date</th>
                                        <th>Company name</th>
                                        <th>Company country</th>
                                        <!-- <th>Assigned Employee</th> -->
                                        <!-- <th>Payment Type</th> -->
                                        <th>Request status</th>
                                        <th>Audit report</th>
                                        <th>Actions</th>
                                        <th>write note</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    <tr [hidden]="page.isLoading"
                                        *ngFor="let item of items| paginate : page.options;let i=index;">
                                        <!-- <td>{{page.options.itemsPerPage*(page.options.currentPage-1)+ i+1}}</td> -->

                                        <!-- <td>{{item.ID}}</td> -->
                                        <td>{{item.RequestID}}</td>

                                        <td>{{item.PaymentDate |date:'dd-MM-yyyy'}} </td>
                                        <td>{{item.CompanyName}}</td>
                                        <td>{{item.CompanyCountry}}</td>
                                        <!-- <td>{{item.AssignedEmployee}}</td> -->
                                        <!-- <td>{{item.PaymentType}}</td> -->
                                        <td>{{item.RequestStatusName}}</td>
                                        <td>
                                            <a class="btn btn-transparent" target="_blank"
                                                [href]="item.AuditReportPDFFilePath">
                                                <i class="fa fa-download text-muted"></i>
                                                <span class="text-muted"> Download file</span>
                                            </a>
                                            <!-- <a class="btn btn-transparent">
                                                <i class="fa fa-download text-muted"></i>
                                                <span class="text-muted"> Download recepit</span>
                                            </a> -->
                                        </td>

                                        <td>
                                            <!-- *ngIf="(!(hide&&PostData.RequestID==item.RequestID))&&item.CommitteeDecision==null" -->
                                            <div class="btn-group">
                                                <button (click)="SetItem(item)" data-toggle="modal"
                                                    *ngIf="item.StaffRequiredAction == 15 " href="#modal-form-approve"
                                                    class="btn btn-transparent">
                                                    <i class="fa fa-check text-navy1"></i>
                                                    <div class="text-navy1">Approve</div>
                                                </button>

                                                <button (click)="SetItem(item)" data-toggle="modal"
                                                    *ngIf="item.StaffRequiredAction == 15 " href="#modal-form-decline"
                                                    class="btn btn-transparent">
                                                    <i class="fa fa-times text-danger"></i>
                                                    <div class="text-danger">Decline</div>
                                                </button>

                                                <!-- *ngIf="item.CommitteeDecision.ApproveStatus==0&&item.CommitteeDecision!=null" -->
                                                <!-- <p *ngIf="item.CommitteeDecision.ApproveStatus!=null">slkdksjd</p> -->
                                                <!-- <button [(ngModel)]="item.CommitteeDecision"
                                                    *ngIf="item.CommitteeDecision!=null " [disabled]="true"
                                                    class="btn btn-transparent">
                                                    <span [(ngModel)]="item.CommitteeDecision.ApproveStatus"
                                                        *ngIf="item.CommitteeDecision.ApproveStatus==0">
                                                        <i class="fa fa-check text-navy1"></i>
                                                        <span class="text-navy"> Approved</span>

                                                    </span>
                                                    <span [(ngModel)]="item.CommitteeDecision.ApproveStatus"
                                                        *ngIf="item.CommitteeDecision.ApproveStatus==1">
                                                        <i class="fa fa-times text-danger"></i>
                                                        <span class="text-danger"> Rejected</span>
                                                    </span>
                                                </button> -->

                                                <button *ngIf="item.ApproveStatus==0 && item.StaffRequiredAction != 15 "
                                                    [disabled]="true" class="btn btn-transparent">
                                                    <span>
                                                        <i class="fa fa-check text-navy1"></i>
                                                        <span class="text-navy"> Approved</span>
                                                    </span>
                                                </button>

                                                <button *ngIf="item.ApproveStatus==1 && item.StaffRequiredAction != 15 "
                                                    [disabled]="true" class="btn btn-transparent">
                                                    <span>
                                                        <i class="fa fa-check text-danger"></i>
                                                        <span class="text-danger"> Declined</span>
                                                    </span>
                                                </button>

                                            </div>
                                        </td>

                                        <td>
                                            <!-- <form> -->
                                            <input *ngIf="item.Note!=null" type="text" [disabled]="true"
                                                [(ngModel)]="item.Note ">
                                            <input *ngIf="item.Note==null" [disabled]="item.StaffRequiredAction != 15"
                                                type="text" (keyup)="onKey($event)" placeholder="Your comment here....">
                                            <!-- </form> -->
                                        </td>
                                    </tr>

                                    <!------------------------------------------------------------------------>

                                </tbody>
                                <tfoot>
                                    <tr [hidden]="page.isLoading">
                                        <td colspan="3" *ngIf="page.options.totalItems>0">
                                            {{'shared.page'|translate}} {{page.options.currentPage}}
                                            {{'shared.of'|translate}}
                                            {{page.options.totalPages}}
                                            - {{'shared.total-items'|translate}} : {{page.options.totalItems}}
                                        </td>
                                        <td colspan="8" class="text-right" *ngIf="page.options.totalItems>0">
                                            <pagination-controls (pageChange)="getNextPrevData($event)" id='Pagination'
                                                maxSize="10" directionLinks="true" autohide="true" previousLabel=""
                                                nextLabel="">
                                            </pagination-controls>

                                        </td>

                                </tfoot>
                            </table>
                        </div>
                    </div>



                    <div id="modal-form-approve" class="modal inmodal fade" role="dialog" tabindex="-1"
                        aria-hidden="true">
                        <div class="modal-dialog approveTemplate">
                            <div class="modal-content ">
                                <div class="modal-header">

                                    <button type="button" class="close " data-dismiss="modal"><span
                                            aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title pull-left">Approve Application </h4>
                                </div>
                                <div class="modal-body">
                                    <div class="row">

                                        <div class="col-sm-12 ">

                                            <form role="form">
                                                <div class="form-group"><label>Are you sure you want to approve on this
                                                        application ? </label></div>



                                            </form>
                                        </div>

                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <!--  <button class="btn btn-sm btn-primary float-right m-t-n-xs" onclick="$('#modal-form2').modal('hide');" type="submit"id="close"><strong>Close</strong></button>-->
                                    <button type="button"
                                        class="btn btn-sm btn-outline  btn-primary float-right m-t-n-xs"
                                        data-dismiss="modal">No, Cancel</button>
                                    <button (click)="ShowDone(0)" type="button"
                                        class="btn btn-sm btn-primary float-right m-t-n-xs" data-dismiss="modal">Yes,
                                        Approve</button>

                                </div>
                            </div>
                        </div>

                    </div>
                    <div id="modal-form-decline" class="modal inmodal fade" aria-hidden="true">
                        <div class="modal-dialog">

                            <div class="modal-content">
                                <div class="modal-header">

                                    <button type="button" class="close" data-dismiss="modal"
                                        aria-hidden="true">&times;</button>
                                    <h3 class="modal-title pull-left">Decline application </h3>

                                </div>
                                <div class="modal-body">
                                    <div class="row">


                                        <form role="form">
                                            <div class="form-group"><label>Are you sure you want to decline this
                                                    application ? </label></div>



                                        </form>
                                    </div>

                                </div>
                                <div class="modal-footer float-right col-sm-12">
                                    <!--  <button class="btn btn-sm btn-primary float-right m-t-n-xs" onclick="$('#modal-form2').modal('hide');" type="submit"id="close"><strong>Close</strong></button>-->
                                    <button type="button" class="btn btn-sm btn-outline btn-danger float-right m-t-n-xs"
                                        data-dismiss="modal">No, Cancel</button>
                                    <button (click)="ShowDone(1)" type="button"
                                        class="btn btn-sm btn-danger float-right m-t-n-xs" data-dismiss="modal">Yes,
                                        Decline</button>

                                </div>
                            </div>
                        </div>
                    </div>


                </div>



            </div>
        </div>
    </div>
</div>